@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin rob-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }

        @media only screen and (#{$type}-height: $width) {
            @content;
        }
    }
}
